/* Start Global Rules */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --mine-color: #21243d;
  --secondary-color: #333;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Heebo", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: ;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 550px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 750px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 950px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Special Heading */
.special-header {
  position: relative;
  margin: 0px auto 60px;
  width: fit-content;
}
.special-header::after {
  content: "";
  height: 7px;
  width: 50%;
  position: absolute;
  background-color: #ffb388;
  left: 25%;
  bottom: -15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.special-header h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--mine-color);
}
/* End Special Heading */
/* Start Header */
.header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 50px;
}
@media (max-width: 767px) {
  .header .logo {
    height: 45px;
  }
  .header {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.header .links .ul1 li {
  display: inline-block;
}
.header .links .ul1 li:not(:first-child) {
  padding-left: 30px;
}
.header .links .ul1 li a {
  text-decoration: none;
}
.header .links .ul1 li a span {
  display: inline-block;
  font-size: 20px;

  font-weight: bold;
  color: var(--mine-color);
  font-family: "Cairo", sans-serif;
  position: relative;
}
.header .links .ul1 li a span::after {
  content: "";
  position: absolute;
  background-color: #ffb388;
  height: 5px;
  width: 0;
  bottom: -7px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  left: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.header .links .ul1 li a span:hover::after {
  left: 0;
  width: 100%;
}
.nav img {
  width: 60px;
  display: none;
}
.ul2 {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #eee;
  right: 0;
  padding: 0;
  min-width: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.ul2 li a {
  text-decoration: none;
  line-height: 1.4;
  font-weight: 600;
  padding: 10px;
  display: block;
  font-size: 30px;
  font-family: "Cairo", sans-serif;
  color: #21243d;
}
.ul2 li {
  text-align: center;
}
.nav .ul2 li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.nav div::after {
  content: "";
  position: absolute;
  border-color: transparent transparent #eee transparent;
  border-width: 20px;
  border-style: solid;
  top: calc(100% + -24px);
  right: 10px;
  display: none;
}
@media (max-width: 767px) {
  .ul1 {
    margin: 0;
    padding: 0;
    display: none;
  }
  .nav img {
    display: block;
  }
  .nav:hover .ul2 {
    display: flex;
  }
  .nav:hover.nav div::after {
    display: block;
  }
  .nav > div {
    position: relative;
  }
}
/* End Header */
/* Strat Landing Page */
.landing-page .container {
  display: grid;
  grid-template-areas:
    "intro image"
    "arrow arrow";
  align-items: center;
  background-size: cover;
  justify-content: space-between;
}

.landing-page .intro-text {
  padding: 50px;
  grid-area: intro;
}
.landing-page .intro-text h1 {
  color: var(--mine-color);
  font-size: 44px;
  font-weight: bold;
  line-height: 60px;
}
.landing-page .intro-text p {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 1.4;
  margin-top: -10px;
}
.landing-page .image {
  display: flex;
  justify-content: center;
  grid-area: image;
}
.landing-page .image img {
  width: 500px;
}
.landing-page a {
  margin: 0 auto;
  grid-area: arrow;
}
@media (max-width: 767px) {
  .landing-page .container {
    display: grid;
    grid-template-areas:
      "image"
      "intro "
      "arrow";
    align-items: center;
    background-size: cover;
    justify-content: center;
  }
  .landing-page .intro-text {
    padding: 0;
    padding-left: 20px;
    text-align: center;
  }
  .landing-page .intro-text h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .landing-page .intro-text p {
    font-size: 15px;
  }
  .landing-page .image {
    text-align: center;
  }
  .landing-page .image img {
    width: 320px;
  }
}
@media (max-width: 991px) {
  .landing-page .intro-text h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .landing-page .intro-text p {
    font-size: 15px;
  }
  .landing-page .image img {
    width: 300px;
    margin-left: 30px;
  }
}
.two-arrows {
  animation-name: arrow;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.arrows-div {
  margin: 0 auto;
  width: fit-content;
}
/* Arrows Animation */
@keyframes arrow {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
/* End Landing Page */
/* Start Skills */
.skills {
  padding: 60px 0;
}
.skills .cards {
  padding: 120px 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 30px;
  row-gap: 120px;
}
@media (max-width: 767px) {
  .skills .container {
    padding: 0 60px;
  }
}
.skills .cards:not(::first-child) {
  margin-top: 50px;
}
.skills .cards .card .image {
  position: relative;
  top: -50%;
}
.skills .cards .card .image img {
  width: 200px;
  display: inline-block;
  margin: 0 auto;
}
.skills .cards .card .card-content {
  background-color: #f6f6f6;
  height: 260px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  top: 0;
}
.skills .cards .card .card-content h2 {
  font-size: 30px;
  margin: 0;
}
.skills .cards .card .card-content .small-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.skills .cards .card .card-content .small-img img {
  width: 40px;
  /* display: inline-block; */
  margin: 20px;
}
/* End Skills */
