@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    font-weight: 500;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 15px 0px;
}
.image img {
    width: 10rem;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/qr_code/9376831_33514.jpg");
    background-size: contain;

}
.button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 3rem;
        background-color: orange;
        border-radius: 10px ;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -ms-border-radius: 10px ;
        -o-border-radius: 10px ;
        border:2px rgb(0, 0, 0) solid ;
}

.button a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}